@model List<DataServiceLayer.Models.View.PromocjeModel>
@{
    ViewBag.Title = "Index";
}
@if (ViewBag.CzyUsunieto != null)
{
    if (ViewBag.CzyUsunieto == true)
    {
        <div class="container">
            <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                    <span style="font-size:32px;color:lawngreen"><strong>Usunieto promocje!</strong></span>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                    <span style="font-size:32px;color:red"><strong>Nie Udało usunac!</strong></span>
                </div>
            </div>
        </div>
    }
}
<div class="container">
    <div class="row mar-top50">
            <table id="Promocje">
                <tr style="border-bottom:1px solid black;text-align:center;padding-bottom:10px;">
                    <td style="width:25%;border-right:1px solid black">
                        <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().NazwaPromocji)</strong>
                    </td>
                    <td style="width:25%;border-right:1px solid black">
                         <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().OpisPromocji)</strong>
                    </td>
                    <td style="width:25%;border-right:1px solid black">
                        <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().DataWdrozenia)</strong>
                    </td>
                    <td style="width:25%;border-right:1px solid black">
                        <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().NazwaKierownika)</strong>
                    </td>
                    <td></td>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="spacer"></tr>
                    <tr style="text-align:center;border-top:1px solid black;">
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.DisplayFor(model => model[i].NazwaPromocji, new { htmlAttributes = new { @class = "form-control intro-input"} })
                        </td>
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.DisplayFor(model => model[i].OpisPromocji, new { htmlAttributes = new { @class = "form-control intro-input"} })
                        </td>
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.DisplayFor(model => model[i].DataWdrozenia, new { htmlAttributes = new { @class = "form-control intro-input" } })
                        </td>
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.DisplayFor(model => model[i].NazwaKierownika, new { htmlAttributes = new { @class = "form-control intro-input"} })

                        </td>
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.ActionLink("Usun", "Usun", "Promocje", new { IdPromocji = Model[i].IDPromoca }, new { @class = "btn btn-danger btn-block", @onclick = "return confirm('Czy napewno chcesz usunąć?')" })
                            @Html.ActionLink("Edytuj","Edytuj", "Promocje", new { IdPromocji = Model[i].IDPromoca }, new { @class = "btn btn-success"})
                        
                        </td>
                    </tr>
                }
            </table>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Wprowadz", "Promocje") + "'");">Wprowadź Promocję</button>
            </div>
        </div>
        </div>
    </div>

