@model DataServiceLayer.Models.View.PromocjeModel
@{
    ViewBag.Title = "Wprowadz";
}

@{
    string akcja = "Wprowadz";

    if (ViewBag.czyEdycja == true)
    {
        akcja = "Edytuj";
        <div class="container">
            <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                    <span style="font-size:36px"><strong>Edytuj Promocję!</strong></span>
                </div>
            </div>
        </div>
        if (ViewBag.czyPost == true)
        {
            if (ViewBag.Status == true)
            {
                //tutaj ze sie zapisaly zmiany
                <div class="container">
                    <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                        <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                            <span style="font-size:32px;color:lawngreen"><strong>Udało sie zapisać zmiany!</strong></span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                //tutaj inforamcja ze nie udalo sie zapisac zmian
                <div class="container">
                    <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                        <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                            <span style="font-size:32px;color:red"><strong>Nie Udało sie zapisać zmiany!</strong></span>
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div class="container">
            <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                    <span style="font-size:36px"><strong>Wprowadz Promocję!</strong></span>
                </div>
            </div>
        </div>
        if (ViewBag.czyPost == true)
        {
            if (ViewBag.Status == true)
            {
                //tutaj ze sie zapisaly zmiany
                <div class="container">
                    <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                        <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                            <span style="font-size:32px;color:lawngreen"><strong>Promocja została dodana!</strong></span>
                        </div>
                    </div>
                </div>

            }
            else
            {
                //tutaj inforamcja ze nie udalo sie zapisac zmian
                <div class="container">
                    <div class="row" style="margin-top:2.5%;margin-bottom:5%">
                        <div class="col-12" style="font-family:Arial, Helvetica, sans-serif">
                            <span style="font-size:32px;color:red"><strong>Promocja nie została dodana!</strong></span>
                        </div>
                    </div>
                </div>
            }
        }
    }
    using (Html.BeginForm(akcja, "Promocje", FormMethod.Post))
    {
            <div class="container-fluid">
                <div class="container">
                   
                    <div class="row marg200200">
                            <div class="col-md-2 col-12">
                                <strong>@Html.LabelFor(Model => Model.NazwaPromocji, htmlAttributes: new { @class = "control-label labelIntro" })</strong>
                            </div>
                            <div class="col-md-3 col-12">
                                @Html.EditorFor(Model => Model.NazwaPromocji, new { htmlAttributes = new { @class = "form-control intro-input" } })
                                @Html.ValidationMessageFor(model => model.NazwaPromocji, "", new { @class = "text-danger" })
                            </div>
                    </div>

                    <div class="row marg200200">
                        <div class="col-md-2 col-12">
                            <strong>@Html.LabelFor(Model => Model.WysokoscRabatu, htmlAttributes: new { @class = "control-label labelIntro" })</strong>
                        </div>
                        <div class="col-md-3 col-12">
                            @Html.EditorFor(Model => Model.WysokoscRabatu, new { htmlAttributes = new { @class = "form-control intro-input" } })
                            @Html.ValidationMessageFor(model => model.WysokoscRabatu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row marg200200">
                        <div class="col-md-2 col-12">
                            <strong>@Html.LabelFor(Model => Model.DataWdrozenia, htmlAttributes: new { @class = "control-label labelIntro" })</strong>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="input-group" >
                                @Html.EditorFor(Model => Model.DataWdrozenia, new { htmlAttributes = new { @class = "form-control intro-input " , @id="datepicker" } })
                                <i class="fa fa-calendar" style="font-size:35px" aria-hidden="true"></i>
                                @Html.ValidationMessageFor(model => model.DataWdrozenia, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row marg200200">
                        <div class="col-md-2 col-12">
                             <strong>@Html.LabelFor(Model => Model.OpisPromocji, htmlAttributes: new { @class = "control-label labelIntro" })</strong>
                            @Html.ValidationMessageFor(model => model.OpisPromocji)
                        </div>
                        <div class="col-md-3 col-12">
                            @Html.EditorFor(Model => Model.OpisPromocji, new { htmlAttributes = new { @class = "form-control intro-input", rows = "3", id = "Txtar" } })
                            @Html.ValidationMessageFor(model => model.OpisPromocji, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        if (Model != null)
        {
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        @Html.HiddenFor(model => model.IDPromoca)
                        <button type="submit" class="btn btn-primary">Zapisz Zmiany</button>
                    </div>
                </div>
            </div>
        </div>
            @*<input type="submit" value="Zapisz zmiany">*@
            //button do usuniecia
        }
        else
        {
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Zapisz Promocje</button>
                    </div>
                </div>
            </div>
        </div>
        
        }


    }
}
    @section Scripts {
       
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <!-- jQuery first, then Tether, then Bootstrap JS. -->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <!-- datepicker -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript">
          
            //$(function () {
            //    $("#datepicker").datepicker();
            //});
            
        </script>
    }
