@model List<DataServiceLayer.Models.View.RachunkiModel>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row mar-top50">
        <table id="Promocje">
            <tr style="border-bottom:1px solid black;text-align:center;padding-bottom:10px;">
                <td style="width:33.3333%;border-right:1px solid black">
                    <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().IdRachunku)</strong>
                </td>
                <td style="width:33.3333%;border-right:1px solid black">
                    <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().Wysokosc)</strong>
                </td>
                <td style="width:33.3333%;border-right:1px solid black">
                    <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().DataRachunku)</strong>
                </td>
                <td></td>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="spacer"></tr>
                    <tr style="text-align:center;border-top:1px solid black;">
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.DisplayFor(model => model[i].IdRachunku, new { htmlAttributes = new { @class = "form-control intro-input" } })
                        </td>
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.DisplayFor(model => model[i].Wysokosc, new { htmlAttributes = new { @class = "form-control intro-input" } })
                        </td>
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.DisplayFor(model => model[i].DataRachunku, new { htmlAttributes = new { @class = "form-control intro-input" } })
                        </td>
                        <td style="padding-top:10px;padding-bottom:10px;">
                            @Html.ActionLink("Usuń", "usun", "Rachunki", new { IdRachunku = Model[i].IdRachunku }, new { @class = "btn btn-danger btn-block" })
                            @Html.ActionLink("Zobacz", "Zobacz", "Rachunki", new { IdRachunku = Model[i].IdRachunku }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
            }
        </table>
    </div>
</div>



