@model DataServiceLayer.Models.View.LoginModel
@{
    ViewBag.Title = "Kierownik";
}

<h2>Kierownik</h2>
@using (Html.BeginForm("Kierownik", "Login", FormMethod.Post))
{
    <div>
        @Html.LabelFor(c => c.Login)
        @Html.ValidationMessageFor(model => model.Login)
    </div>
    <div>
        @Html.EditorFor(Model => Model.Login)
    </div>
    <div>
        @Html.LabelFor(c => c.Haslo)
        @Html.ValidationMessageFor(model => model.Haslo)
    </div>
    <div>
        @Html.PasswordFor(Model => Model.Haslo)
    </div>
    <input type="submit" value="Sign In">
}

