@model List<DataServiceLayer.Models.View.RaportModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <div class="row mar-top50">
        <table id="Promocje">
            <tr style="border-bottom:1px solid black;text-align:center;padding-bottom:10px;">
                <td style="width:33.3333%;border-right:1px solid black">
                    <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().IdRaportu)</strong>
                </td>
                <td style="width:33.3333%;border-right:1px solid black">
                    <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().Suma)</strong>
                </td>
                <td style="width:33.3333%;border-right:1px solid black">
                    <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().DataOd)</strong>
                </td>
                <td style="width:33.3333%;border-right:1px solid black">
                    <strong style="font-size:20px;">@Html.LabelFor(model => model.FirstOrDefault().DataDo)</strong>
                </td>
                <td></td>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="spacer"></tr>
                <tr style="text-align:center;border-top:1px solid black;">
                    <td style="padding-top:10px;padding-bottom:10px;">
                        @Html.DisplayFor(model => model[i].IdRaportu, new { htmlAttributes = new { @class = "form-control intro-input" } })
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;">
                        @Html.DisplayFor(model => model[i].Suma, new { htmlAttributes = new { @class = "form-control intro-input" } })
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;">
                        @Html.DisplayFor(model => model[i].DataOd, new { htmlAttributes = new { @class = "form-control intro-input" } })
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;">
                        @Html.DisplayFor(model => model[i].DataDo, new { htmlAttributes = new { @class = "form-control intro-input" } })
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;">
                        <button class="btn btn-danger btn-block">Usuń</button> @*TRZEBA USUWANIE ZROBIC*@
                        @Html.ActionLink("Edytuj", "Edytuj", "Promocje", new { IdPromocji = Model[i].IdRaportu }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
